[Unit]
Description=Wensn MQTT Sound Pressure Level Monitor
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/opt/noisemeter
ExecStart=/usr/bin/python3 /opt/noisemeter/wensn.py

#StandardOutput=syslogConsola               # Output to syslog
#StandardError=syslogConsola                # Output to syslog

[Install]
WantedBy=multi-user.target
